.window-preloader {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e03a3a;
    z-index: 7;
    transition: .9s ease-out;
}

.window-preloader.-close{
    border-radius: 400px;
    transform: translateX(-100%);
}

.logo-white {
    font-size: 38px;
    border: 3px solid #FFFFFF;
    border-left: 3px dashed #FFFFFF;
    padding: 5px 7px;
    border-radius: 7px;
    color: #FFFFFF;
}