.headline-list {
    margin: 45px 0 20px;
    font-size: 32px;
    color: #17233a;
}

.top-rated,
.popular,
.upcoming,
.top-people {
    flex-wrap: wrap;
}

/* block */
.movie-list {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.8);
    margin: 10px 25px 10px 0;
    transition: .5s;
}

.movie-list:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 4px 12px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 4px 12px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 4px 12px 0px rgba(50, 50, 50, 0.8);
}

.movie-list:hover .blur-movie-list,
.movie-list:hover .blur-actor-list {
    background-color: #17233a;
}

.img-movie-list {
    border-radius: 8px;
    height: 230px;
}

.blur-movie-list {
    position: absolute;
    height: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0 0 8px 8px ;
    background-color: #e03a3a;
}

.blur-actor-list {
    position: absolute;
    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0 0 8px 8px ;
    background-color: #e03a3a;
}

.name-movie-list {
    color: wheat;
    padding: 11px 3px 0;
    font-size: 20px;
    overflow: hidden;
    max-height: 48px;
}
