/*Started Kit for Developer*/
body,
h1,
h2,
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
li,
button,
input{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    -webkit-user-select: none;
}

a {
    text-decoration: none;

}

button, input {
    outline: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.flex {
    display: flex;
}

.standart {
    justify-content: center;
    align-items: center;
}

.start {
    justify-items: flex-start;
}

.start-center {
    justify-items: flex-start;
    align-items: center;
}

.align-center {
    align-items: center;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* scroll */
.nicescroll-rails div {
    background: #e03a3a !important;
}